@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
}
.content{
  height:100%;
  width:100%;
  overflow:scroll;
}
.app{
  
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
  background: L #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background: #888;
}
/*on Hover */
::-webkit-scrollbar-track:hover{
background: #555;
}
